# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.venv/
venv/
env/
ENV/

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# VS Code settings
.vscode/

# Env files
.env
.env.*

# Logs
*.log

# SQLite database (if you use SQLite locally)
*.sqlite3

# Coverage reports
htmlcov/
.coverage

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace
.env
